<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if(type == 'admin'){ %>
    <% include admin.css %>
    <% }else{ %>
    <% include user.css %>
    <% } %>
  </body>
</html>
